<div class="card mt-5">
  <div class="card-body">
    <h2>Chi tiết sách</h2>
  </div>
  <hr/>
  <div class="card-body mt-2">
    <div *ngIf="book">
      <div>
        <label><b>Tên sách: </b></label> {{book.title}}
      </div>
      <div>
        <label><b>Tác giả: </b></label> {{book.author}}
      </div>
      <div>
        <label><b>Mô tả: </b></label> {{ book.description}}
      </div>
    </div>
  </div>
  <br>
  <br>
  <div style="text-align: center">
    <button style="width: 200px" (click)="list()" class="btn btn-primary">Quay lại</button>
  </div>
  <br>
  <br>
</div>
