<div class="header">
  <nav style="background-color:orange" class="navbar navbar-expand-lg ">
    <a class="navbar-brand" href="#"> <i>Quản lý sách</i></a>

    <div class="container">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="" routerLinkActive="active">Trang chủ <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="books" routerLinkActive="active">Danh sách</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="add" routerLinkActive="active">Thêm sách</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
