.nav-link {
  color: black!important;
  margin-left: 25px;
  font-size: 20px;
}

.nav-link:hover {
  color: orange!important;
}

.navbar-brand {
  color: black!important;
  font-family: serif!important;
  font-size: 35px;
}

.navbar-brand:hover {
  color: peru!important;
}
